#all-posts{
    background-color: whitesmoke;
    padding: 6rem 0;
}
#all-posts h2{
    color: black;
    text-align: center;
    font-size: 3em;
}
ul{
    display: block;
    padding-inline-start: 0;
    
}

li{
    list-style: none;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
}